body{
  background: #fbfbfb;
}
.wrap{
  width: 75%;
  background: #fff;
  padding: 10px;
  margin: 40px auto 0;
  box-shadow: 7px 7px 5px #ccc;
}
h1{
  font-size: 32px;
  text-align: center;
}
h2{
  font-size: 24px;
  text-align: center;
}
.how-it-works{
  text-align: center;
  font-size: 18px;
  margin: 15px 0;
}
.log-txt{
  text-align: center;
  font-size: 18px;
  margin: 15px 0;
}
code{
  color: #ca3d4f;
}
.button{
  width: 140px;
  height: 28px;
  border: solid #225972 2px;
  text-align: center;
  border-radius: 3px;
  padding: 3px;
  color: #225972;
  cursor: pointer;
  font-size: 20px;
  margin: 0 auto;

}
.button:hover{
  border: solid #61BF4E 2px;
  color: #61BF4E;
}

pre{
  background: #EFEFEF;
  padding: 10px 40px;
  text-align: left;
}

.log-img{
  margin: 20px auto;
}
img{
    box-shadow: 3px 3px 3px #ccc;
}
.convert{
  text-align: justify;
  font-size: 18px;
  margin: 20px auto;
  width: 70%;
}
.inputs{
  display: flex;
  justify-content: center;
  text-align: center;
}

.count{
  height: 200px;
  background: #fff;
  width: 10%;
  font-size: 72px;
  font-weight: 500;
  line-height: 200px;
  text-align: center;
  align-content: center;
  cursor: pointer;
  font-family: fantasy;
  text-shadow: 2px 2px 2px #000;
  z-index: 10;
}
.count:hover{
  background: #32746D;
  color: #fff;
}

.grn{
  background: #104F55;
  height: 200px;
  width: 40%;

}
.grn-convert{
  color: #fff;
  padding: 20px;
  font-size: 24px;
  vertical-align: middle;
  margin: 20px 0 0;

}
.real-money{
  background: #9EC5AB;
  height: 200px;
  width: 40%;

}

input{
  height: 26px;
  font-size: 22px;
  border-radius: 4px;
  text-align: center;
}
.result{
  margin: 0px 0 0;
}
.flag-ua{
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  margin: 0 auto;
}
.flag-eu{
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  margin: 0 auto;

}
.flag-us{
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  margin: 0 auto;
  background-position: center;

}
